.modal.fade.show {
    display:block !important;
    position: fixed;
    margin-left: 160px;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}
